
@import './mixin.scss';
@import './variables.scss';
@import './leaflet.scss';
 @import './mainFront.scss';
 @import './draft.scss';


@font-face {
    font-family: IRANSans_light;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSansWeb_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_light;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSansWeb.ttf') format('truetype');
}

* {
    font-family: IRANSans_light !important;

}

html{
    direction: rtl !important;
    font-size: 16px !important;
}

body{
    background-color: rgb(241, 241, 241) !important;
    font-size: 16px !important;
    font-family: IRANSans !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



// ---- Layout -------
.ant-layout-sider{
    position: fixed !important;
    height: 100vw !important;
    top: 60px !important;
}
.ant-layout-sider-children{
    // background-color: $tertiary-color !important;
    background-color: $dark-color !important;
}

.ant-layout-sider-trigger{
    background-color: $dark-color !important;
}

.ant-layout-header{
    background-color: $white-color !important;
}

.ant-layout-sider-children .logo{
    height: 32px;
    margin: 16px;
    color: black;
    background: rgba(255, 255, 255, 0.3);
}

.ant-menu .ant-menu-sub{
 background-color: $dark-color !important;
}
.ant-menu-item-selected{
    // background-color: #d1b6fd31 !important;
    background-color: #ffffff1f !important;
}

.ant-menu-item{
    height: 30px !important;
    padding-left: 0px !important;
    // padding-right: 5px !important;
}

.ant-menu-submenu-title span{
    margin-right: 10px !important;
}


.ant-btn{
    border: none !important;
}


// .ant-avatar{
//     background: #009688 !important;
// }

.avatar-disable{
    background: $darkGray-color !important;
}

.avatar-logged-in{
    background: #009688 !important;
}

.container-pages{
    // width: 80% !important;
}



// *{
//     background-color: rgb(243, 243, 243) !important;
// }
.content-panel-pages{
    // width: calc(90% - 200px) !important;
    z-index: 0;
    top: 30px !important;
    right: 0px !important
    // margin: 0px 20px !important;
}

.content-page{
    @include BoxShadow;
    background-color: $white-color !important;
    padding-bottom: 50px !important;
    
}

// .site-layout{
//     margin-right: 200px;
// }

@keyframes siderExpanded {
    from {margin-right: 200px;}
    to {margin-right: 75px;}
  }

.site-layout-expanded {
    margin-right: 75px;
    animation-name: siderExpanded;
    animation-duration: 0.6s;
}

.site-layout-minus {
    margin-right: 200px;
}


.ant-dropdown-trigger a{
    color: red !important;
}

@media (max-width : '992px'){
    .site-layout{
        margin-right: 0px;
    }
}

.box-header-panel{
    margin-bottom: 20px !important;
    background-color: $white-color !important;
    @include BoxShadow;
    width: 100%  !important;
    position: fixed;
    height: 60px !important;
    z-index: 500 !important;
    
}

.box-drawer-panel{
    max-width: 256px !important;
    background-color: $secondary-color !important;
    @include BoxShadow;
    // position: fixed !important;
    height: 100vh !important;
    z-index: 9999999;
}

.nav-item-drawer-responsive{
    color: $secondary-color !important;
}

.nav-item-drawer-responsive:hover{
    color: $quaternary-color !important;
}

.drawer-menu{
    width: 256px !important;
}

.ant-menu-item li{
    

        direction: rtl !important;
        text-align: right !important;

}

.ant-badge-count{
    background-color: $pink-color !important;
}

.icon-bell-header{
    color: $dark-color !important;
    font-size: 1.25rem !important;
}

.ant-scroll-number-only-unit{
    font-size: 0.75rem !important;
}

.ant-scroll-number-only-unit{
    background-color: $pink-color !important;
}

.ant-menu{
    background: none !important;
    direction: rtl !important;
    text-align: right !important;
}

.ant-modal-content{
    border-radius: 5px   !important;
    // background-color: $quinary-color !important;
}

.modal-change-password p{
    color: $quaternary-color !important;
}

.modal-change-password  .ant-modal-header{
    // background-color: blueviolet !important;
    background-color: $dark-color !important;
    border-radius: 5px 5px 0px 0px !important;
    
}
.modal-change-password .ant-modal-title{
    color: $white-color !important;
}

.modal-change-password .ant-modal-footer{
    display: none !important;
}

.submitNewPass{
    @include purpelBtn;
    width: 130px !important;
}

.submitNewPass:hover{
background-color: $quaternary-color !important;
color: $white-color;
}

.cancelSetPassBtn{
    @include cancelBtn;
}

.cancelSetPassBtn:hover{
    background-color: $warning-color !important;
    color: $white-color ;
}



.userInfoSection .ant-input {
    background-color: $gray-color !important;
    border: none !important;
}

.box-main-image-artwork{
    background-color: red !important;
    max-height: auto  !important;
    width: 80% !important;
}

@media(max-width : '575px'){
    .box-main-image-artwork{
        width: 100% !important;
    }
}

.ant-upload-picture-card-wrapper{
    width: auto !important;
}

.anticon-left{
    transform: rotate(180deg) !important;
}

.anticon-right{
    transform: rotate(180deg) !important;
}

.navbar-panel-drawer{
    list-style: none !important;
    .nav-item{
        min-height: 30px !important;
    }
    .nav-item a{
        color: $white-color !important;
    }
}

td.ant-table-cell{
    padding : 0px 10px !important;
    text-align: center !important;
    height: 40px !important;
    background-color: white !important;
}

.ant-table-content{
    border: 1px solid rgb(255, 255, 255) !important;
    width: 100% !important;
}



.ant-pagination {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    display: flex;
    display: flex !important;
    justify-content: center !important;
    /* left: 50% !important; */
}



table td{
    padding: 0px !important;
    
}

th.ant-table-cell{
    text-align: center !important;
    min-width: 100px !important;
    border: none !important;
}

table thead {
// background-color: $tertiary-color !important;
background-color: $primary3-color !important;
}

.table thead th{
    border: none !important;
    color: $dark-color;
}

table tbody  {
    border: none !important;
}

.table thead tr th:first-child{
    border-radius:0px  5px 0px 0px !important;
}

.table thead tr th:last-child{
    border-radius:5px  0px 0px 0px !important;
}

table  tbody tr td {
    border: none !important;
}

.content-td{
    height: 40px !important;
    background-color: rgba(229, 222, 255, 0.274) !important;
    @include FlexContent;
}

//---------- Home -------------
.ant-result-info .ant-result-icon > .anticon{
    color: hotpink !important;
}
.btn-view-artworks-home{
    @include pinkBtn ;
}

.btn-view-artworks-home:hover{
    background-color: hotpink !important;
    color: $white-color !important;
}

.btn-enter-login-home{
   @include grayBtn; 
}

.btn-enter-login-home:hover{ 
    background-color: $darkGray-color !important;
    color: $white-color !important;
 }

 .ant-result-extra {
    margin: 24px 0 0;
    text-align: center;
    display: flex !important;
    justify-content: center !important;
}

// --------- Login Page -----------

.enterToAccountBox {
    width: 90vw !important;
    max-width: 517px;
    // height: 676px;
    display: flex !important;
    justify-content: center !important;
    position: relative;
    @include BoxShadow;
    border-radius: 10px !important;
}

.containerLoginPage {
    display: flex;
    justify-content: center;
    // margin-top: 171px;
}

.containerLoginPage p {
    color: $primary-TextColor !important;
}


.headerLogin {
    height: 48px !important;
    // background-color: $quaternary-color !important;
    background-color: $dark-color  !important;
    @include FlexContent;
    /* width: 100% !important; */
    color: #FFFFFF;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.boxImageLoginPage {
    margin-top: 27px !important;
    @include FlexContent;
}

.imageEnterToAccaount {
    width: 174px;
    height: 169px;
    background-image: url("../../images/svg/Group\ 1713.svg");
}

.boxInfoLogin {
    padding: 0 20px !important;
    margin-top: 25px;
}



// #basic_mobile.ant-input {
//     padding-right: 30px !important;
// }

// .mobileField #basic_mobile {
//     padding-right: 15px !important;
// }

@media (max-width : 575px) {
    #basic_mobile.ant-input {
        // width: 100% !important;
        // height: 39px !important;
        padding-right: 30px !important;
        // background-color: transparent !important;
    }

    .mobileAndImailField #basic_mobile {
        padding-right: 30px !important;
    }
}

// .iconMobile {
//     position: absolute;
//     right: 27px !important;
//     top: 10px;
//     width: 13px !important;
//     height: 22px !important;
// }

.ant-input{
    border-radius: 20px !important;
    padding-right: 20px !important;
    height: 38px !important;
}

.custom-input-number{
    // padding-right: 0px !important;
    margin-right: -20px !important;
}

.ant-input-number-input{
    box-shadow: none !important;
    padding: 0px !important;
    border-radius: 35px !important;
}

.ant-input-number-input-wrap{
    border-radius: 35px !important;
}


.ant-input-number {
    box-sizing: border-box;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 4px 20px !important;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #f6f6f6;
    background-image: none;
    transition: all 0.3s;
    display: inline-block;
    width: 90px;
    margin: 0;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 35px !important;
}







.ant-input-affix-wrapper{
    border-radius: 20px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    margin-top: 0px !important;
}



.iconLock {
    position: absolute;
    right: 30px !important;
    top: 9px;
    width: 24px !important;
    height: 24px !important;
    background-image: url('../../images/svg/lock_open-24px.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rememberTextPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    margin-top: 18px;
    font-size: 14px;
}

.enter-to-panel-btn {
    @include greenBtn;
    width: 100%;
    height: 45px !important;
    margin-top: 17px;
    // background-color: $primary-color !important;
    background-color: $pink-color !important;
    font-size: 1rem !important;
}



// #basic_mobile.ant-input::placeholder {
//     margin-right: 15px !important;
// }

#basic_id.ant-input{
    padding-right: 20px !important
}

.enter-whith-google button{
    @include FlexContent;
    @include greenBtn;
    width: 100% !important;
    height: 45px !important;
    // padding-left: 20px !important;
    // box-shadow: 0px 1px 6px #00000029 !important;
    // border-radius: 38px !important;
    // outline: none !important;
}

.enter-whith-google div{
    background-color: $white-color !important;
    margin: 0px !important;
}

.enter-whith-google div{
    background-color: transparent !important;
}

.enter-whith-google button:hover{
    background-color: $gray2-color !important;
}

//---------- Recovery Password -----------

.recoveryPasswordPage {
    width: 90vw !important;
    height: 261px !important;
    max-width: 517px;
    max-height: 420px;
    display: flex !important;
    justify-content: center !important;
    position: relative;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 10px;
}

.btn-get-confirm-code {
    @extend .enter-to-panel-btn;
    margin-top: 20px;

}


//---------- Confirm Code ----------

.changeNumberText {
    display: flex;
    justify-content: center;
}

.sendConfirmCode {
    width: 100%;
    height: 48px;
    margin-top: 0px;
    border-radius: 24px;
    outline: none !important;
    border: none !important;
    // background-color: $quinary-TextColor!important;
    background-color: $primary-color;
    color: #FFFFFF;
    margin-bottom: 10px;
    position: relative;
}

.timerConfirmPhoneNumber {
    position: absolute !important;
    width: 43px;
    height: 31px;
    color: #FF6D85 !important;
    top: 8px !important;
    left: 14px !important;
    font-size: 18px;
    z-index: 100000 !important;
}

.boxNumberPhone {
    padding: 0 20px !important;
    margin-top: 25px;
}

.imageConfirmPhone {
    width: 177px;
    height: 157px;
    background-image: url('../../images/svg/sendConfirmCode.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.boxImageLoginPage {
    margin-top: 27px !important;
    @include FlexContent;
}
.loginPage {
    width: 90vw !important;
    // height: 561px !important;
    max-width: 517px;
    // max-height: 561px;
    display: flex !important;
    justify-content: center !important;
    position: relative;
    border-radius: 10px !important;
    @include BoxShadow;
}

.againSendCodeBtn {
    @include warningBtn;
    position: absolute !important;
    z-index: 100000 !important;
    left: 6px !important;
    top: 4px !important;

}

.againSendCodeBtn:hover{
    background-color: $warning-color !important;
    color: $white-color;
}

// --------- Set Password Page --------

.setPasswordBox {
    width: 90vw !important;
    max-width: 517px;
     max-height: 476px; 
    display: flex !important;
    justify-content: center !important;
    position: relative;
    box-shadow: 0 1px 6px #00000029 !important;
    border-radius: 10px;
    // padding-bottom: 38px !important;
    // background-color: red;
}

.rememberTextPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    margin-top: 18px;
    font-size: 14px;
}

@media(max-width : '575px') {
    .rememberTextPassword{
        font-size: 0.8rem !important;
    }
}

.rememberTextPassword a{
    color: hotpink !important;
}

.textAllow {
    color: $primary-TextColor !important;
    font-size: 0.8rem !important;
}

.enterToCompany {
    width: 100%;
    height: 45px;
    margin-top: 10px !important;
    border-radius: 24px;
    outline: none !important;
    border: none !important;
    background-color: $pink-color !important;
    // margin-bottom: 11px;
    font-size: 1rem !important;
    // margin-top: 58px !important;
}

@media(max-width : '575px'){
    .enterToCompany{
        margin-top: 22px !important;
    }
}

.term-and-conditions{
    color: hotpink ;
}

// -------- Register Page ----------

.registerBox{
    @extend .enterToAccountBox;
}

.get-confirm-code-btn{
    @extend .enter-to-panel-btn;
}



// --- members page ----
.minWidth-row{
    max-width: 4rem !important;
}

.minWidth-name{
    min-width: 10rem !important;
}

.minWidth-email{
    min-width: 10rem !important;
}

.minWidth-mobile{
    min-width: 7rem !important;
}

.minWidth-date{
    min-width: 10rem !important;
}

.minWidth-typeRegister{
    min-width: 10rem !important;
}

.minWidth-typeUser{
    min-width: 10rem !important;
}

.minWidth-winner{
    min-width: 15rem !important;
}

.minWidth-action{
    min-width: 9rem !important;
}

.minWidth--price{
    min-width: 11rem !important;
}

.btn-save-bankInfo , .btn-edit-backInfo{
    color: $quaternary-color !important;
}

.ant-input-number-handler-wrap{
    display: none !important;
}

.ant-input-number-input{
    text-align: right !important;
    width: 100%;
    height: 35px;
    padding: 0 11px;
    text-align: left;
    background-color: transparent;
    /* border: 0; */
    border-radius: 35px !important;
    outline: 0;
    transition: all 0.3s linear;
    
}

// .anticon-close{
.btn-cancel-edit-bankInfo{
    color: rgba(255, 0, 0, 0.486) !important;
}

.ant-spin-container{
    border: 1px solid white !important;
}

.btn-confirm-product{
    width: 90px !important;
    @include greenBtn;
}


.btn-confirm-product:hover{
    background-color:  $primary-color !important;
    color: $white-color !important;
    animation-duration: 1s;
    animation-delay: -1s;
}

.btn-reject-product{
    width: 70px !important;
     @include warningBtn;
}

.btn-reject-product:hover{
    background-color: $warning-color;
    color: $white-color  ;
}

.btn-do-filter{
    @include purpelBtn;
}

.btn-do-filter:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}


.btn-add-new-artwork{
    background-color: $primary-color !important;
    @include greenBtn;
    width: 120px !important;
    color: $white-color;
}

.btn-add-new-artwork:hover{
    background-color: $white-color !important;
    color: $primary-color !important;
}

.ant-image-mask{
    display: none !important;
    // display: none !important;
    cursor: pointer !important;
}

.ant-image-preview-root{
    z-index: 999999 !important;
}

.box-image-product-list:hover{
    transform: scale(1.05);
}

.icon-filter{
    width: 10px !important;
    color: $quaternary-color !important;
}

.ant-input-search-button{
    background-color: $pink-color !important;
    color: $white-color  !important;
    border-radius: 100% !important;
    margin-right: 10px !important;
}

.ant-input-group-addon{
    background-color: white !important;
}

.ant-input-search-button:hover{
    background-color: $quaternary-color !important;
    color: $white-color !important;
}


.date-field-filter-box{
    max-width: 75px !important;
    height: 35px !important;
    border: 0.5px solid rgb(230, 230, 230) !important;
    border-radius: 30px !important;
    overflow: none !important;
    box-shadow: none !important;
}
.date-field-box{
 @extend .date-field-filter-box;
 text-align: center !important;
}

.date-field-show-box{
    @extend .date-field-filter-box;  
    min-width: 100px !important;
    text-align: center !important;
}

.date-field-firstDay-holding-box{
    @extend .date-field-filter-box;
    min-width: 200px !important;
    text-align: center !important;
}

.data-field-box{
    min-width: 100px !important;
    border: 0.5px solid rgb(230, 230, 230) !important;
    border-radius: 4px !important;
    overflow: none !important;
    box-shadow: none !important;
}

.btn-status-product-filter{
    @include purpelBtn;
    min-width: 70px !important;
    border-radius: 4px !important;
}

.btn-status-product-filter:hover{
    background-color: $quaternary-color !important;
    color: $white-color !important;
}



.ant-btn.ant-dropdown-trigger{
    background-color: none !important;
    box-shadow: none !important;
    outline: none !important;
    max-width: 110px !important;
    padding: 0px 5px !important
}

.text-filter , .text-filter p{
    font-size: 0.8rem !important;
}

.btn-add-new-link-artwork{
    @include greenBtn;
    min-width: 150px !important;
}

.btn-add-new-link-artwork:hover{
    background-color: $primary-color !important;
    color: $white-color;
}

.btn-edit-link{
    width: 150px !important;
    @include purpelBtn;
    height: 40px !important;
}

.btn-edit-link:hover{
    background-color: $quaternary-color !important;
    color: $white-color !important;
}

.ant-modal-title{
    text-align: right !important;
    margin-right: 20px !important;
}

.ant-modal-confirm-title{
    text-align: right !important;
}

.ant-modal-confirm-content{
    text-align: right !important;
}

.ant-modal-confirm .ant-modal-confirm-btns{
    display: flex !important;
}

.ant-notification-notice-message{
text-align: right !important;

font-size: 0.8rem !important;
}

.ant-notification-notice-icon-success , .ant-notification-notice-icon-error{
    position: absolute !important;
    left: 10px !important;  
}


.ant-notification-notice-description{
    text-align: right !important
}

.modal-confirm-artwork .ant-modal-footer{
    display: none !important;
}

.btn-confirm-artwork{
    @include purpelBtn;
}

.btn-reject-artwork{
    @include warningBtn ;
}

.btn-reject-artwork:hover{
background-color:$warning-color !important ;
color: $white-color;
}

.btn-confirm-artwork:hover{
    background-color:$quaternary-color !important;
    color: $white-color ;
}


.modal-bids .ant-modal-footer{
    display: none !important;
}

.modal-bids .ant-modal-header{
    background-color: $dark-color ;

    .ant-modal-title{
        color: $white-color;
    }
}

// ------- Message page -------

.btn-send-message{

    @include purpelBtn;
    // background-color: $quaternary-color !important;
    // border-radius: 5px !important;
    // color: $white-color !important;
}

.btn-send-message:hover{
    background-color: $quaternary-color !important;
    color: $white-color !important;
}

.btn-send-message > span:active{
    color: $white-color !important;
}

.btn-reset-message{

    @include grayBtn;
    
}

.btn-reset-message:hover{
    background-color: $darkGray-color !important;
    color: $white-color !important;
}

.ant-mentions .input-title-message-send-to {
    border-radius: 38px !important;
    min-height: 38px !important;
}

.ant-form-item-label{
    text-align: right !important;
}

.input-message-send-to{
    padding-left: 8.5% !important;
}

@media(max-width : '575px'){
    .input-message-send-to{
        padding-left: 0% !important;
    } 
}

.input-message-send-to .ant-form-item-label{
    // max-width: 765px !important;
    // right: 200px !important;

    // margin-left: 90px;
    // margin-left: 20% !important;
}

.row-messages .contentTd {
    border-top: 1px solid $gray2-color !important;
    border-bottom: 1px solid $gray2-color !important;

}

.row-messages td:first-child .border-row-message-right{
    border-right: 1px solid $gray2-color;
}

.row-messages td:last-child .border-row-left {
    border-left: 1px solid $gray2-color;
}

.contentTd {
    position: relative;
    // height: '80px' !important;
    @include FlexContent;
    margin: '12px 0 12px';
    // background-color: #F9F9F9 !important;
    min-width: 100px !important;

}

.minWidth-titleMessage{
    min-width: 12rem !important;
}

.minWidth-titleMessage{
    min-width: 12rem !important;
}

.minWidth-DateMessage{
    min-width: 10rem !important;
}

.minWidth-DateMessage{
    min-width: 10rem !important;
}

.minWidth-status{
    min-width: 10rem !important;
}

.minWidth-type{
    min-width: 10rem !important;
}

.minWidth-details{
    min-width: 10rem !important;
}

.minWidth-description{
    min-width: 14rem !important;
}

.btn-scroll-to-send-message{
    @include grayBtn;
    min-width: 100px !important;
}

.btn-scroll-to-send-message:hover{
    
    background-color: $darkGray-color !important;
    color: $white-color;
}

.date-message-details {
    font-size: 0.7rem !important;
    color: #8B8B8B !important;
}

.titleBox-message-details {
    font-weight: bold !important;
    font-size: 0.9rem !important;
    color: $primary-TextColor !important;

}

.text-details-message {
    font-size: 0.9rem !important;
}

.modal-detail-message .ant-modal-footer {
    display: none !important;
}

.modal-detail-message .ant-modal-header{
    background-color: $tertiary-color !important;
    .ant-modal-title{
        color : $white-color !important;

    }
}

.btn-close-detail-message{
    @include grayBtn;
    width: 150px !important;
}

.btn-close-detail-message:hover{
    background-color: $darkGray-color !important;
    color : $white-color;
}

.btn-show-detail-message{
    @include pinkBtn;
    background-color: $primary-TextColor !important;
    width: 100px !important
}

.btn-show-detail-message:hover{
    background-color : $dark-color !important;
}

// ---------- Ticketing -----------
// .btn-cancel-ticket{
//    @include cancelBtn 
// }

// .btn-cancel-ticket:hover{
//     background-color: $warning-color !important;
//     color: $white-color;
// }

.btn-submit-new-ticket{
    @include purpelBtn;
}

.btn-submit-new-ticket:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.input-item-send-ticket{
    width: 80% !important;
}

@media(max-width : '575px'){
    .input-item-send-ticket{
        width: 100% !important;
    }
}

.box-content-ticket-user{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.box-header-ticket-admin-details{
    @extend .box-header-ticket-user-details;
    
}

@media (min-width : '575px'){
    .box-header-ticket-user-details{
        max-width: 100% !important;
    }
}

.box-text-ticket-user-details{
    padding: 16px 10px 29px 10px!important;
    border: 1px solid #DBD8D8;
    border-radius: 10px;
    background-color: #F5F5F5 !important;
}

.box-content-ticket-user{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.box-text-ticket-admin-details{
    @extend .box-text-ticket-user-details;
    background-color: $primary-TextColor !important;
}

.box-text-ticket-user-details{
    padding: 16px 10px 29px 10px!important;
    border: 1px solid #DBD8D8;
    border-radius: 10px;
    background-color: #F5F5F5 !important;
}
@media (min-width : '575px'){
    .box-text-ticket-user-details{
        margin-right : 100px !important;
        max-width: 100% !important;
        min-width: 350px;
        padding: 16px 21px 29px !important;
    }
}

.box-text-ticket-admin-details{
    @extend .box-text-ticket-user-details;
    background-color: $tertiary-color !important;
}

.btn-send-new-ticket{
    @include purpelBtn;
}

.btn-send-new-ticket:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.btn-close-ticket{
    @include cancelBtn;
}

.btn-close-ticket:hover{
    background-color: $warning-color !important;
    color: $white-color;
}

.btn-cancel-send-ticket{
    @include grayBtn;
    width: 100px !important;
}

.btn-cancel-send-ticket:hover{
    background-color: $darkGray-color !important;
    color: $white-color;
}

.text-state-pending{
    color: $darkGray-color;
}

.text-state-fail{
    color: $pink-color;
}

.text-state-read{
    color: $primary-color;
}

.text-state-submit{
    color: $primary-color;
}



// --------- Check Membership ---------

.btn-accept-membership-auction{
    @include purpelBtn;
}

.btn-accept-membership-auction:hover{
    background-color: $quaternary-color  !important;
    color : $white-color;
}

.btn-eject-membership-auction{
    @include cancelBtn;
}

.btn-eject-membership-auction:hover{
    background-color: $warning-color  !important;
    color : $white-color;
}

.confirm-accept-membership .ant-btn:first-child{
    @include cancelBtn;
    margin-left: 10px !important;
}

.confirm-accept-membership .ant-btn:first-child:hover{
    background-color: $warning-color;
    color: $white-color;
}

.confirm-accept-membership .ant-btn:nth-child(2){
    @include greenBtn;
}

.confirm-accept-membership .ant-btn:nth-child(2):hover{
    background-color: $primary-color !important;
    color: $white-color;
}

// 

.ant-modal-body .ant-btn:first-child{
    @include cancelBtn;
    margin-left: 10px !important;
}

.ant-modal-body .ant-btn:first-child:hover{
    background-color: $warning-color;
    color: $white-color;
}

.ant-modal-body .ant-btn:nth-child(2){
    @include greenBtn;
}

.ant-modal-body .ant-btn:nth-child(2):hover{
    background-color: $primary-color !important;
    color: $white-color;
}

// 

.ant-modal-close-x{
    display: none !important;
}

.modal-eject-membership .ant-modal-footer{
    display: none !important;
}
.modal-accept-membership .ant-modal-footer{
    display: none !important;
}


// ----------- Auctions ------------

.ant-picker{
    height: 38px !important;
    border-radius: 20px !important;
}

.ant-select-selector{
    min-width: 200px !important;
    height: 38px !important;
    border-radius: 30px !important;
    background-color: #f6f6f6 !important;
}

.ant-select-item-option-content{
    width: 200px !important;
}

.tabs-link-add-auction{
    font-size: 1rem !important;
    background-color: $tertiary-color !important;
}

@media (max-width : '1200px'){
    .tabs-link-add-auction{
        background-color: white !important;
    }
}

.tab-item-add-auction:hover{
    color: $primary-color !important;
    transition: 0.5s;
}

.tabs-link-add-auction p{
    cursor: pointer !important;
}

.btn-redirect-to-add-auction{
    @include greenBtn;
    background-color : $primary-color !important;
    color : $white-color;
    width: 150px !important;
}

.text-box-aria-add-auction.ant-input{
    min-height: 100px !important;
}

.btn-submit-auction{
    @include purpelBtn;
    width: 150px !important;
}

.btn-submit-auction:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.bullet{
    width: 12px !important;
    height: 12px !important;
    border-radius: 100% !important;
    background-color: $tertiary-color;
}
.ant-btn-dashed .anticon .anticon-plus{
    margin-left : 20px !important;
}

.ant-btn-dashed{
    @include greenBtn ;
    width: 200px !important;
    height: 40px !important;
    color: $dark-color !important;
}

.ant-btn-dashed:hover{
    background-color: $primary-color !important;
    color: $white-color !important;
}

.dynamic-delete-button{
    color: $warning-color !important;
    cursor: pointer !important;
}

// ------------ Sales Consuler Page --------------

.btn-send-to-house-auctions{
    @include purpelBtn;
    min-width: 200px !important;
}
 
.btn-send-to-house-auctions:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.btn-response-to-user{
    @include purpelBtn;
    min-width: 120px !important;
}

.btn-response-to-user:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.modal-send-to-house-autions .ant-modal-header{
    background-color: $dark-color !important;
}

.modal-send-to-house-autions .ant-modal-footer{
    display: none !important;
}

.modal-send-to-house-autions .ant-modal-title{
    margin-right: 0px !important;
    color: $white-color !important;
}

.btn-close-send-to-house-auction{
    @include grayBtn;
    width: 100px !important;
}


.btn-accept-offer{
    @include greenBtn;
}

.btn-accept-offer:hover{
    background-color: $primary-color !important;
    color: $white-color;
}

.btn-reject-offer{
    @include cancelBtn;
}

.btn-reject-offer:hover{
    background-color: $warning-color !important ;
    color: $white-color;
}

.btn-reject-offer{
    @include warningBtn;
}

.btn-cancel-accept-offer , .btn-cancel-reject-offer{
    @include grayBtn;
    width: 100px !important;
}

.btn-cancel-accept-offer:hover , .btn-cancel-reject-offer:hover{
    background-color: $darkGray-color !important;
    color: $white-color;
}


// --------- Wallets ---------

.btn-close{
    @extend .btn-cancel-send-ticket;
}

.btn-redirect-to-getway{
    @include purpelBtn;
}

.btn-redirect-to-getway:hover{
    background-color: $quaternary-color !important;
    color: $white-color;
}

.modal-confirm-deposit .ant-modal-footer{
    display: none !important;
}

.modal-confirm-deposit .ant-modal-header{
    background-color: $dark-color !important;
    .ant-modal-title{
        color: $white-color !important;
    }
}


// --------- Frequently Questions -----------

.btn-add-frequently-questions{
    @include purpelBtn;
    min-width: 200px !important;
}

.btn-add-questions-category{
    @include greenBtn;
    min-width: 150px !important;
}

.btn-add-questions-category:hover{
    background-color: $primary-color !important;
    color: $white-color !important;
}

.modal-edit-questions .ant-modal-footer{
    display: none !important;
}

.modal-edit-questions .ant-modal-header{
    background-color: $dark-color !important;
    .ant-modal-title{
        color: $white-color;
    }
}

.modal-confirm-delete-question .ant-modal-confirm-btns{
    display: flex;
}

.modal-confirm-delete-question .ant-btn-primary{
    @include warningBtn;
}

.modal-confirm-delete-question .ant-btn-primary:hover{
    background-color:  $warning-color !important;
    color: $white-color;
}

.modal-confirm-delete-question button:nth-child(1){
    @include grayBtn;
    width: 100px !important;
    margin-left: 10px !important;
    color: $dark-color;
}

.modal-confirm-delete-question button:nth-child(1):hover{
    background-color:  $darkGray-color !important;
    color: $white-color;
}


// ------------ Requests House Auction -----------

.btn-accept-request-house-auction{
    @include greenBtn ;
    width: 200px !important;
}

.btn-accept-request-house-auction:hover{
    background-color: $primary-color !important;
    color: $white-color !important;
}

.btn-reject-request-house-auction{
    @include warningBtn;
    background-color: $warning2-color !important;
    width: 200px !important;
}

.btn-reject-request-house-auction:hover{
    background-color: $warning-color !important;
    color: $white-color !important;
}

.modal-confirm-request-house-auction .ant-modal-footer{
    display: none !important;
}

.modal-reject-request-house-auction .ant-modal-footer{
    display: none !important;
}

.modal-confirm-request-house-auction .ant-modal-confirm-body-wrapper .ant-btn .ant-btn-primary {
    background-color: red !important;
    // @include greenBtn  ;

}

.modal-confirm-request-house-auction .ant-modal-header , .modal-reject-request-house-auction .ant-modal-header {
    background-color: $dark-color !important;
}

.modal-reject-request-house-auction .ant-modal-confirm-body-wrapper .ant-btn .ant-btn-primary{
    background-color: $dark-color !important;
}

.modal-confirm-request-house-auction .ant-modal-title , .modal-reject-request-house-auction .ant-modal-title{
    color: $white-color !important;
}

.image-custom-back{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    background-color: #eee;
}



