// Color Variables

// $primary-color: #27DEBF;
$white-color : #ffffff;
$warning-color : #FF6D85;
$warning2-color : #ffc3cd;
$gray-color : rgb(247, 247, 247);
$gray2-color : rgb(224, 224, 224);
$darkGray-color :darkgray ;
$primary-color: #4BF2E3;
$secondary-color: #9B5CFF;
$tertiary-color: #d1b6fd;
$quaternary-color: #3D3068;


$primary-TextColor : #303030 ;



//quaternary
//quinary
// senary
// septenary
// octonary
// nonary


$drawer-width : 200px !important;