// Color Variables

// $primary-color: #27DEBF;
$white-color : #ffffff;
$primary-color: #4BF2E3;
$secondary-color: #9B5CFF;
$tertiary-color: #d1b6fd;
$quaternary-color: #3D3068;


$primary-TextColor : #303030 ;



//quaternary
//quinary
// senary
// septenary
// octonary
// nonary


$drawer-width : 250px !important;